.name {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.number{
    font-size: 16px;
    font-weight: 500;
    color: rgb(66, 123, 125);
}

.btn {
    display: inline-block;
    margin-left: 10px;
    min-width: 50px;
    height: 20px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
    color: rgb(66, 123, 125);
    font-size: 12px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.btn:hover,
.btn:hover {
    background-color: rgb(212, 242, 243);
    color: rgb(50, 44, 32);
}